//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.alphacoders.com/674/674925.png);
    background-size: cover;

    h1 {
        text-align: center;
        margin: 3rem 0;
    }

    .container {
        width: 1170px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        .card {
            padding: 1rem;
            margin: 1rem;
            border-radius: 10px;
            background-color: beige;

            img {
                width: 300px;
                height: 300px;
                object-fit: cover;
            }

            p:first-of-type {
                text-transform: capitalize;
            }
            p {
                padding: 0.25rem 0;
            }
        }
    }
}
