* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body h1 {
  text-align: center;
  margin: 3rem 0;
}

body .container {
  width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

body .container .card {
  padding: 1rem;
  margin: 0 1rem;
  border: 1px solid black;
}

body .container .card img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container .card p:first-of-type {
  text-transform: capitalize;
}

body .container .card p {
  padding: 0.25rem 0;
}

